
Research and Testing/.DS_Store

.DS_Store

*.class

Research and Testing/William/CommandBasedTesting/dist/FRCUserProgram.jar

Research and Testing/William/CommandBasedTesting/sysProps.xml
*.iml
###INTELLIJ Files
.idea

*.jar

Research and Testing/William/EncoderTestingII/build.xml

Research and Testing/William/EncoderTestingII/build.properties

Research and Testing/William/EncoderTestingII/.project

Research and Testing/William/EncoderTestingII/.classpath

Research and Testing/William/EncoderTestingII/sysProps.xml

*.class
