
Research and Testing/.DS_Store

.DS_Store
._.DS_Store

Research and Testing/William/CommandBasedTesting/dist/FRCUserProgram.jar

Research and Testing/William/CommandBasedTesting/sysProps.xml

###INTELLIJ Files
.idea
*.iml

#Java Build Files
*.jar
*build/
*.class
*.gradle/

#Eclipse Project Files
*.classpath
*.project
*.settings/
*sysProps.xml
*build.xml
*build.properties
